<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>Puppy Power! Puppy Lovers Unite!</title>
  </head>
  <body>
    <h1>Puppy Power! Puppy Lovers Unite!</h1>
    <a href="/puppy"><button>Back to Main Page</button></a>
    <main>

  <article id="formcontainer">
      <form id="form" action="/puppy/<%= puppy._id %>?_method=PUT" method="post">
        <input type="text" placeholder="place img url here" value="<%= puppy.img %>" name="img"/>
        <input type="submit" value="update dog"/>
      </form>
  </article>

    </main>
  </body>
</html>